[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
dcor = "*"
geopandas = "*"
numba = "*"
networkx = "*"
pyturf = "*"
pandas = "*"
descartes = "*"
ipykernel = "*"
plotly = "*"
nbformat = "*"

[requires]
python_version = "3.7"
